body {
    margin: 0 auto;
    max-width: 1920px;
}

header {
    width: 100%;
    min-height: 50px;
    background-color: #445162;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
}

.cart-button {
    outline: none;
    text-decoration: none;
    width: 80px;
    height: 30px;
    text-transform: uppercase;
    border-radius: 3px;
    margin: 15px 25px;
    color: #ffffff;
    background-color: tan;
}

.goods-list {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    align-content: center;
}

.goods-item {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 150px;
    min-height: 200px;
    border: 3px solid #445162;
    box-shadow:  0px 2px 4.85px 0.55px gray;
}

.goods-item h3 {
    display: block;
    border: 2px solid #445162;
    text-align: center;
    width: 90%;
    margin: auto;
}

.goods-item p {
    display: block;
    margin: 10px auto;
    width: 90%;
    border: 2px solid #445162;
    text-align: center;
}

.goods-item span {
    display: block;
    margin: 10px auto;
    width: 90%;
    border: 2px solid #445162;
    text-align: center;
}

.add-good {
    outline: none;
    text-decoration: none;
    width: 90px;
    height: 30px;
    text-transform: uppercase;
    border-radius: 3px;
    margin: 15px 25px;
    color: #ffffff;
    background-color: tan;
}

.search {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.search-goods {
    height: 45px;
    width: 200px;
    border: none;
    padding-left: 20px;
    font-size: 16px;
}

.search-btn {
    margin: 10px;
    height: 45px;
    width: 65px;
    color:#445162;
}

.cart {
    background-color: #ececec;
    display:flex;
    justify-content: center;
    width: 900px;
    min-height: 300px;
    border: 3px solid #445162;
    margin: 20px;
    box-shadow:  0px 4px 32.85px 1.55px gray;
}
